body {
    font-family: Arial, sans-serif;
    background-color: #def25e;
    padding: 20px;
}

form {
    max-width: 600px;
    margin: auto;
    background: #e81616;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #f8f7f1;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #dbe1ec;
    border-radius: 4px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background: #064fc4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}