<!DOCTYPE html>
<html lang="en">
{%load static%}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{%static '/css/style.css'%}">
</head>

<body>
    
    <header>
        <img src="{%static '/img/logo.png' %}" alt ="Logo escola" class = 'logo' >
    </header>

    <main class ='menu'>
        <h2>Bem-vindo ao Sistema Escolar</h2>
        <button class="menu" onclick= "location.href='{% url 'cadastro'%}'">Cadastro</button>
        <button class="menu" onclick="location.href='{%url 'pesquisar'%}'">Pesquisar</button>
        <button class="menu" onclick="">Atualizar</button>
        <button class="menu" onclick="">Remover</button>
        <button class="menu" onclick="">Sair</button>
    </main>

</body>

</html>